@{
    ViewData["Title"] = "Inicio";
}

  <section class="parallax">
        <article class="text-center">
            <h1>Sistema de facturacion</h1>
            <p>Maestro detalle para automatizar el proceso de facturacion</p>
            <a href="#" class="btn btn-success ">Informacion</a>
        </article>
  </section>

<div class="contenedor">
<br/>
<h1 class="display-4">Concepto</h1>
   <section>
        <article>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </article>
        <br/>
        <article>
            <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </article>
        <br/>
   </section>
</div>

<section class="parallax">
        <article class="text-center">
            <h1>Informacion de desarrollo</h1>
            <p>Maestro detalle realizado por Luis Rafael Geraldo contreas</p>
            <a href="#" class="btn btn-success ">Informacion</a>
        </article>
  </section>

<div class="contenedor">
<br/>
<h1 class="display-4">Tecnologias usadas</h1>
   <section>
        <article>
                <strong><h4>Lenguaje de programacion:</h4></strong>
                <ul> 
                  <li>C#</li>
                  <li>JS</li>
                </ul>
           
                <h4>Framework:</h4>
                  <ul>
                    <li>Asp.net Core</li>
                    <li>Bootstrap</li>
                  </ul>
                
                <h4>Librerias:</h4>
                  <ul>
                    <li>JQuery</li>
                  </ul>
                
                <h4 style="display: inline; font-family: Arial">ORM:</h4>
                  <ul>
                    <li>Entity Framework</li>
                  </ul>
              
                
              <h4 style="display: inline; font-family: Arial">Lenguajes de Presentación:</h4>
                  <ul>
                    <li>Html</li>
                    <li>Css</li>
                  </ul>
              
                
                <h4 style="display: inline; font-family: Arial">Sistema gestor de bases de datos:</h4>
                  <ul>
                    <li>Sql sever</li>
                  </ul>
                
                <h4>Entorno de desarrollo:</h4>
                  <ul>
                    <li>Visual studio code</li>
                  </ul>
         </article>
   </section>
</div>


<section class="parallax">
        <article class="text-center">
            <h1>Desarrollado por</h1>
            <p>Luis Rafael Geraldo contreas</p>
            <a href="https://github.com/LuisGeraldo" class="btn btn-success ">GitHub</a>
        </article>
  </section>